<div>
    <img src="{{persona.banner}}" class="img-responsive" alt="fondo verde" id="verde" />
</div>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <img src="{{persona.link}}" class="img-fluid" alt="foto Gimenez" id="gim">
  </div>

  </div>


<div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h1 id = "name" >{{persona.name}} {{persona.lastname}}</h1>
      </div>
      
</div>
<div class="row">    
      <div class="col-sm-3 col-md-3 col-lg-3">
          <h5>{{persona.tit1}}<br>{{persona.tit2}}</h5>
      </div>
    
</div>
<div class="row">        
      <div class= "col-sm-10 col-md-10 col-lg-10">
        <h3 id="acerca">Acerca de</h3>
        </div>
        <div class= "col-sm-12 col-md-12 col-lg-12">
          <p class="acerca">
            {{persona.about1}}<br>
            {{persona.about2}}
          </p>
        </div>
</div>

