<div>
    <img src="./assets/verde.webp" class="img-responsive" alt="fondo verde" id="verde" />
</div>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <img src="./assets/gimenez.png" class="img-fluid" alt="foto Gimenez" id="gim">
  </div>
<!--Modal Foto -->
  <div class="col-sm-1 col-md-1 col-lg-1" id="pencil">
    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-foto" id="pencil-pencil"><i class="bi bi-pencil-fill"></i></button>
  </div>


<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h1 id = "name" >{{persona.name}} {{ persona.lastName}}</h1>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil2">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-n-a" id="pencil-pencil2"><i class="bi bi-pencil-fill"></i></button>
      </div>
</div>
<div class="row">    
      <div class="col-sm-3 col-md-3 col-lg-3">
          <h5>Full Stack Developer Jr.<br>Estudiante de Ingeniería en Informática</h5>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil3">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-gen" id="pencil-pencil3"><i class="bi bi-pencil-fill"></i></button>
      </div>
</div>
<div class="row">        
      <div class= "col-sm-10 col-md-10 col-lg-10">
        <h3 id="acerca">Acerca de</h3>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
          
          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-acerca" id="pencil-pencil4"><i class="bi bi-pencil-fill"  width="75" height="75"></i></button>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-acerca-borrar" id="pencil-pencil4"><i class="bi bi-x-lg"></i></button>
         <!-- <i class="bi bi-x-lg"  width="75" height="75"></i>-->
        </div>
        <div class= "col-sm-12 col-md-12 col-lg-12">
          <p class="acerca">
            Full Stack Developer Jr. mediante Argentina Programa del Ministerio de Desarrollo Productivo<br>
            Estudiante de Ingeniería, 2º año de la carrera de Informática UNAJ(Universidad Nacional Arturo Jauretche)
          </p>
        </div>
</div>


<!-- Modal-Foto--> 

<div class="modal fade" id="modal-foto" tabindex="-1" aria-labelledby="cambioFoto" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Cambio de Foto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca el link</label>
          <input type="text" class="form-control" id="text-link-foto" placeholder="https://(link de donde se aloja la foto)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Grabar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Nombre-Y-Apellido--> 

<div class="modal fade" id="modal-n-a" tabindex="-1" aria-labelledby="nombreyApe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Nombre y Apellido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca</label>
          <input type="text" class="form-control" id="text-link-foto" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca</label>
          <input type="text" class="form-control" id="text-link-foto" placeholder="Apellido">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Grabar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-General--> 

<div class="modal fade" id="modal-gen" tabindex="-1" aria-labelledby="general" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Datos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca</label>
          <input type="text" class="form-control" id="text-link-foto" placeholder="Dato 1">
        </div>

        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca</label>
          <input type="text" class="form-control" id="text-link-foto" placeholder="Dato 2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Grabar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Acerca--> 

<div class="modal fade" id="modal-acerca" tabindex="-1" aria-labelledby="general" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Edición Acerca</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Datos 1</label>
          <input type="text" class="form-control" id="text-dato1" placeholder="Acerca de (dato 1)">
        </div>

        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Datos 2</label>
          <input type="text" class="form-control" id="text-dato1" placeholder="Acerca de (dato 2)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Acerca-Borrar--> 

<div class="modal fade" id="modal-acerca-borrar" tabindex="-1" aria-labelledby="general" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Confirmación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Está seguro de borrar el ítem Acerca de?</label>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Borrar</button>
      </div>
    </div>
  </div>
</div>


