  <div class="row" id="header">
    
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank"><img src="assets/APLogo.png" class="img-responsive" alt="logo Argentina Programa" id="ap"></a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/inti" target="_blank"><img src="./assets/LogosInti.png" class="img-responsive" alt="logo INTI" id="li"></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" id="others"></div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://www.linkedin.com/in/walter-rafael-gimenez/" target="valor_blank">
          <img src="./assets/linkedin.png" class="img-responsive" alt="logo LinkedIn" id="lk">
        </a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://github.com/WalterGimenez" target="valor_blank">
          <img src="./assets/github.png" class="img-responsive" alt="logo Git Hub" id="gh">
        </a> 
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others" >
        <a href="https://www.facebook.com/Walle2009" target="valor_blank">
          <img src="./assets/facebook.png" class="img-responsive" alt="logo Facebook" id="fc">
        </a>
      </div>

      <!-- Button trigger modal -->
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="Login" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal"></app-button>
      </div>











     
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="LogOut" class="btn btn-light btn-sm"></app-button>
      </div>
  </div>

  <!-- Modal login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title  w-80 text-center" id="label">Login</h1>
        
        
        
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Usuario</label>
            <input type="email" class="form-control" id="email" placeholder="email@ejemplo.com">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="contraseña">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button text = "Cancelar" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal"></app-button>
        <app-button text = "Logearse" class="btn btn-primary btn-sm"></app-button>
      </div>
    </div>
  </div>
</div>