  <div class="row" id="header">
    
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank"><img src="assets/APLogo.png" class="img-responsive" alt="logo Argentina Programa" id="ap"></a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/inti" target="_blank"><img src="./assets/LogosInti.png" class="img-responsive" alt="logo INTI" id="li"></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" id="others"></div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://www.linkedin.com/in/walter-rafael-gimenez/" target="valor_blank">
          <img src="./assets/linkedin.png" class="img-responsive" alt="logo LinkedIn" id="lk">
        </a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://github.com/WalterGimenez" target="valor_blank">
          <img src="./assets/github.png" class="img-responsive" alt="logo Git Hub" id="gh">
        </a> 
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others" >
        <a href="https://www.facebook.com/Walle2009" target="valor_blank">
          <img src="./assets/facebook.png" class="img-responsive" alt="logo Facebook" id="fc">
        </a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="Login"></app-button>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="LogOut"></app-button>
      </div>
  </div>