  <div class="row" id="header">
    
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank"><img src="https://i.ibb.co/p043g2B/APLogo.png" class="img-responsive" alt="logo Argentina Programa" id="ap"></a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto">
        <a href="https://www.argentina.gob.ar/inti" target="_blank"><img src="https://i.ibb.co/C5FRgRZ/Logos-Inti.png" class="img-responsive" alt="logo INTI" id="li"></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" id="others"></div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://www.linkedin.com/in/walter-rafael-gimenez/" target="valor_blank">
          <img src="https://i.ibb.co/hHVq7XP/linkedin.png" class="img-responsive" alt="logo LinkedIn" id="lk">
        </a>
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others">
        <a href="https://github.com/WalterGimenez" target="valor_blank">
          <img src="https://i.ibb.co/kqw2D7s/github.png" class="img-responsive" alt="logo Git Hub" id="gh">
        </a> 
      </div>
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others" >
        <a href="https://www.facebook.com/Walle2009" target="valor_blank">
          <img src="https://i.ibb.co/wYFbfk4/facebook.png" class="img-responsive" alt="logo Facebook" id="fc">
        </a>
      </div>

      <!-- Button trigger modal -->
      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="Login" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#loginModal" *ngIf="!isLogged"></app-button>
      </div>




      <div class="col-sm-auto col-md-auto col-lg-auto" id="others-btn">
        <app-button  text="LogOut" class="btn btn-light btn-sm" (click)="onLogOut()" *ngIf="isLogged"  ></app-button>
      </div>
  </div>

  <!-- Modal login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title  w-80 text-center" id="label">Login</h1> 
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          

          <div class="mb-3">
            <label class="col-form-label">Usuario</label>
            <input type="text" class="form-control" id="userName"  placeholder="Nombre de Usuario" [(ngModel)]="userName" name="userName" required>
          </div>
          <div class="mb-3">
            <label class="col-form-label">Contraseña</label>
            <input type="password" class="form-control" id="password"  placeholder="contraseña"[(ngModel)]="password" name="password" required>
          </div>

          <div class="modal-footer">
            <!--<app-button text = "Cancelar" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal"></app-button>-->
            <button class="btn btn-light btn-sm"  type="submit">Loguearse</button>
            <!--<app-button text = "Logearse" class="btn btn-primary btn-sm" type="submit"></app-button>-->
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>