<div class="row">
  <div class= "col-sm-10 col-md-10 col-lg-10">
    <h1>Educación</h1>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
      <i class="bi bi-pencil-fill"  width="75" height="75"></i>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
      <i class="bi bi-x-lg"  width="75" height="75"></i>
    </div>
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper">
          <a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
        </div>
                  
        <div class="card-body">
        <h2 id="h2edu">Universidad Nacional Arturo Jauretche 2015/Actualidad</h2>
        <p class="card-text">• Ingeniería en Informática, 2º Año</p>
        
           </div>
          </div>
</div>
</div>
