<div class="row">
      <div class= "col-sm-9 col-md-9 col-lg-9">
        <h1>Experiencia Profesional</h1>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-Expe" id="pencil-pencil"><i class="bi bi-pencil-fill"></i></button>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-Nueva-Expe" id="pencil-pencil"><i class="bi bi-plus-lg"  width="75" height="75"></i></button> 
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-Expe-borra" id="pencil-pencil4"><i class="bi bi-x-lg"></i></button>
      </div>
        <div class="card">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <a href="https://www.unaj.edu.ar/carreras/ingenieria-y-agronomia/ingenieria-informatica/" target="_blank"><img src="./assets/logoUnaj.png" alt="logo UNAJ" id="lunaj"></a>
            </div>
                      
            <div class="card-body">
                  <h4 class="card-title" id="h4edu">Universidad Nacional Arturo Jauretche <h3 id="h3edu">2017/2020</h3></h4>
                  <h5>Supervisor del Centro de Copiado</h5>
                  <p class="card-text">• Supervisión de equipo • Atención al Público • Cierre de Caja • Control de Stock</p>
            </div>
        </div>
    </div>

    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper">
              <a href="https://guiadetarjetas.com/argentina/tarjeta-shopping/" target="_blank"><img src="./assets/ts.png"  alt="logo Tarjeta Shopping" id="lts"></a>
        </div>
        <div class="card-body">
              <h4 class="card-title" id="h4edu">Tarshop S.A<h3 id="h3edu">2006/2012</h3></h4>
              <h5>Representante de Atención al Cliente</h5>
              <p class="card-text">• Venta de Intangibles • Resolución de problemas • Suplencias de Supervisión • Gestión de Cobranzas</p>
        </div>       
        <br>
          
      </div>
</div>
</div>

<!-- Modal-Experiencia--> 

<div class="modal fade" id="modal-Expe" tabindex="-1" aria-labelledby="modalExpe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Editar Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca url</label>
          <input type="url" class="form-control" id="text-link-educ" placeholder="url de la foto)">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Institución</label>
          <input type="text" class="form-control" id="text-institucion" placeholder="Nombre Institución">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Año</label>
          <input type="text" class="form-control" id="text-desde" placeholder="Desde/Hasta">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Puesto</label>
          <input type="text" class="form-control" id="text-puesto" placeholder="Puesto">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Grabar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Experiencia-Nueva--> 

<div class="modal fade" id="modal-Nueva-Expe" tabindex="-1" aria-labelledby="modalNuevaExpe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Nueva Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca url</label>
          <input type="url" class="form-control" id="text-link-educ" placeholder="url de la foto)">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Institución</label>
          <input type="text" class="form-control" id="text-institucion" placeholder="Nombre Institución">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Año</label>
          <input type="text" class="form-control" id="text-desde" placeholder="Desde/Hasta">
        </div>
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">Introduzca Puesto</label>
          <input type="text" class="form-control" id="text-puesto" placeholder="Puesto">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Grabar cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Expe-Borrar--> 

<div class="modal fade" id="modal-Expe-borra" tabindex="-1" aria-labelledby="general" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Borrar Eperiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="recipient-link" class="col-form-label">¿Está seguro de borrar el ítem Experiencia?</label>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm">Borrar</button>
      </div>
    </div>
  </div>
</div>