<div class="row">
      <div class= "col-sm-9 col-md-9 col-lg-9">
        <h1>Experiencia Profesional</h1>
      </div>
    
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-Nueva-Expe" id="pencil-pencil" *ngIf="isLoggedIn"><i class="bi bi-plus-lg"  width="75" height="75"></i></button> 
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
        <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-Expe-borra" id="pencil-pencil4" *ngIf="isLoggedIn"><i class="bi bi-x-lg"></i></button>
      </div>
      <ul>
        <li *ngFor="let experience of experience">
          <div class="card">
            <div class="card-horizontal">
              <div class="img-square-wrapper">
                <a href="{{experience.link}}" target="_blank"><img src="{{experience.link}}" alt="logo UNAJ" id="lunaj"></a>
              </div>
                        
              <div class="card-body">
                    <h2 class="card-title" id="h4edu">{{experience.name}} <h2 id="h3edu">{{experience.startend}} <button class="btn btn-light" name="boted" routerLink="/exped/{{experience.id}}" id="pencil-pencil" *ngIf="isLoggedIn"><i class="bi bi-pencil-fill"></i></button></h2></h2>
                    <h5>{{experience.job}}</h5>
                    <p class="card-text">{{experience.descrip}}</p>
              </div>
          </div>
      </div>
        </li>
      </ul>

</div>


<!-- Modal-Experiencia-Nueva--> 

<div class="modal fade" id="modal-Nueva-Expe" tabindex="-1" aria-labelledby="modalNuevaExpe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Agregar Nueva Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="create()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nameNew">Introduza Empresa</label>
            <input type="url" class="form-control" id="nameNew" name="nameNew" [(ngModel)] = "nameNew" required>
          </div>
          <div class="form-group">
            <label for="startendNew">Introduza Año/Hasta</label>
            <input type="text" class="form-control" id="startendNew" name="startendNew" [(ngModel)] = "startendNew" required>
          </div>
          <div class="form-group">
            <label for="linkNew">Introduza link foto</label>
            <input type="url" class="form-control" id="linkNew" name="linkNew" [(ngModel)] = "linkNew" required>
          </div>
          <div class="form-group">
            <label for="jobNew">Introduza Puesto</label>
            <input type="text" class="form-control" id="jobNew" name="jobNew" [(ngModel)] = "jobNew" required>
          </div>
          <div class="form-group">
            <label for="descripNew">Introduza descripción Puesto</label>
            <input type="text" class="form-control" id="descripNew" name="descripNew" [(ngModel)] = "descripNew" required>
          </div>
          <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="create()" data-bs-dismiss="modal">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal-Expe-Borrar--> 

<div class="modal fade" id="modal-Expe-borra" tabindex="-1" aria-labelledby="general" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ul>
        <li *ngFor="let experience of experience">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLabel">Borrar Experiencia</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          
            <div class="mb-3">
              <label for="recipient-link" class="col-form-label">{{experience.name}}</label>
            </div>
            <div class="mb-3">
              <label for="recipient-link" class="col-form-label">{{experience.startend}}</label>
            </div>
            <div class="mb-3">
              <label for="recipient-link" class="col-form-label">{{experience.link}}</label>
            </div>
            <div class="mb-3">
              <label for="recipient-link" class="col-form-label">{{experience.job}}</label>
            </div>
            <div class="mb-3">
              <label for="recipient-link" class="col-form-label">{{experience.descrip}}</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm me-md-2" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="delete(experience.id)" data-bs-dismiss="modal">Borrar</button>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>