<div class="row">
  <div class= "col-sm-9 col-md-9 col-lg-9">
    <h1>Proyectos</h1>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
      <i class="bi bi-pencil-fill"  width="75" height="75"></i>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
      <i class="bi bi-plus-lg"  width="75" height="75"></i>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" id="pencil4">
      <i class="bi bi-x-lg"  width="75" height="75"></i>
    </div>
    <div class="card">
      <div class="card-horizontal">
          <div class="img-square-wrapper">
            <a href="https://github.com/WalterGimenez/calculadoraApp" target="_blank"><img src="./assets/calcu.png" alt="foto calculadora" id="calcu"></a>
          </div>
         <div class="card-body">
                <h3 class="card-title" id="h4edu">Mini Calculadora</h3>
                
                <p class="card-text">Calculadora simple de suma y resta hecha con Angular</p>
                
         </div>
         
      </div>
    </div>
</div>
